name: Build + Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - '.git**'
      - 'service/**'
      - '**.md'
      - 'LICENSE'
  workflow_dispatch:
    inputs:
      version:
        description: 'release version'
        required: false
        default: 'latest'

jobs:
  job1:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@main

      - name: setup nodejs
        uses: actions/setup-node@main
        with:
          node-version: 'latest'

      - name: setup go
        uses: actions/setup-go@main
        with:
          go-version: 'stable'

      - name: processing
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          bash "./.github/workflows/Build + Release.sh"
